*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #b9c2d1;
}
.logo-box
{
    width: clamp(90px,12vw,150px);
}
.logo
{
    width: clamp(90px,12vw,140px);
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}
.nav-list
{
    display: flex;
    list-style: none;
    
    gap: 24px;
}
.nav-list a
{

    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;   
}
.nav-list a:hover
{
    text-decoration: underline;
}
